{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>this is test page</h1>
<span>Test Will End In: <span id='end'></span></span>

<form id="myform" method="POST">
    {% csrf_token %}
    {% for i in form %}
    <p>Question: {{i.question}}</p>
    <p><input type="radio" name="{{i.id}}" value="{{i.option_1}}">{{i.option_1}}</p>
    <p><input type="radio" name="{{i.id}}" value="{{i.option_2}}">{{i.option_2}}</p>
    <p><input type="radio" name="{{i.id}}" value="{{i.option_3}}">{{i.option_3}}</p>
    <p><input type="radio" name="{{i.id}}" value="{{i.option_4}}">{{i.option_4}}</p>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endblock %}

{% block script %}
<script>
    var end_date = new Date("{{end_date}}").getTime();
    // var start_date = new Date("{{start_date}}").getTime();
    var x = setInterval(function() {
    var now = new Date().getTime(); 
    var t = end_date - now;
    var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
    var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
    var seconds = Math.floor((t % (1000 * 60)) / 1000); 
    document.getElementById("end").innerHTML = days + "d " 
    + hours + "h " + minutes + "m " + seconds + "s "; 
        if (t < 0) { 
            clearInterval(x); 
            document.getElementById("end").innerHTML = "Time is over"; 
            document.getElementById("myform").submit();
        } 
    }, 1000); 
    </script> 
    
{% endblock %}
